#start {
    background-color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30%;
    padding: 10px 20px;
    font-size: 25px;
    color: white;
}

#start:hover {
	background-color: blue;
}

#questionsDiv {
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bolder;
}

#timeLeft {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;

}

#back {
    background-color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 65%;
    width: auto;
    text-align: center;
}

#back:hover {
	background-color: blue;
}

#clear {
    background-color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    width: auto;
    text-align: center;
}

#clear:hover {
	background-color: blue;
}

button {
    background-color: purple;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
    font-size: 20px;
    color: white;
}



label {
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
    width: 30%;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

li {
    background-color: purple;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 10px;
    cursor: pointer;
    width: 80%;
    font-size: 20px;
    color: white;
}

li:hover {
	background-color: blue;
}

#alert {
    margin-top: 25px;
}

#container {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 450px;
    height: 450px;
    border: 2px solid black;
}

@media screen and (max-width: 786px) {
    body {
            width: 90%;
        }
    #container {
        position: absolute;
        left: 20%;
    }

    a {
        margin-left: 20%;
    }
        #back {
            
            position: relative;
            left: 60%;
        }

        #clear {
            
            position: relative;
            right: 5%;
            
        }
    }
        
    @media screen and (max-width: 640px) {
     body {
        width: 90%;
        }
    #container {
        position: absolute;
        left: 5%;
    }
      a {
          margin-left: 5%;
      }

     
}